
<div style="text-align: center;">
  {{home_title}}
</div>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar style="background-image: url('https://dogecoin.com/assets/images/doge.svg'); background-size: cover;"></div>
    <mat-card-title>{{card_title}}</mat-card-title>
    <mat-card-subtitle>{{card_subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://ichef.bbci.co.uk/news/976/cpsprodpb/0691/production/_116818610_gettyimages-1299388500.jpg">
  <mat-card-content>{{card_content}}</mat-card-content>
</mat-card>
