
<mat-toolbar color = "accent">
  <div style = "text-align: center; width: 100%;">
    {{title}}
  </div>
</mat-toolbar>

<!--
<div style = "text-align: center; width: 100%;">
  This is app.component.html!
</div>
-->

<mat-tab-group mat-align-tabs = "center" color = "accent">
  <!-- Tab for home -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>home</mat-icon>Home
    </ng-template>
    <app-home></app-home>
  </mat-tab>
  <!-- Tab for social media list -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>account_circle</mat-icon>Social media
    </ng-template>
    <app-socialmedia></app-socialmedia>
  </mat-tab>
  <!-- Tab for bioinformatics tool playground -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>science</mat-icon>Bioinformatics
    </ng-template>
    <app-home></app-home>
  </mat-tab>
  <!-- Tab for resources -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>auto_awesome_motion</mat-icon>Resources
    </ng-template>
    <app-home></app-home>
  </mat-tab>
</mat-tab-group>
