/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin            : 0;
  font-family       : Roboto, "Helvetica Neue", sans-serif;
  background-color  : white;
  background-image  : url(./assets/bg_image.jpg);
  background-size   : 100%;
  background-repeat : repeat-y;
}

/* mat-toolbar styles */
mat-toolbar {
  color         : white;
  background    : rgba(0, 0, 0, 0.4);
}


/* mat-tab styles */
mat-tab-group {
  background-color : transparent;
  height           : 100%;
  /* border-top       : 1px solid; */
  /* border-color     : white;     */
}

/* Tabs header background */
/* Ref.: https://www.youtube.com/watch?v=TboXxcVVGyw */
::ng-deep .mat-mdc-tab-header .mdc-tab {
  background : rgba(0, 0, 0, 0.4);
}

/* Tabs text colour */
/* Ref.: https://www.youtube.com/watch?v=TboXxcVVGyw */
::ng-deep .mat-mdc-tab .mdc-tab__text-label,
::ng-deep .mat-mdc-tab-link .mdc-tab__text-lable {
  color : white;
}

/* mat-card (in main page) styles */
mat-card {
  color        : white;
  background   : rgba(0, 0, 0, 0.4);
  margin-right : 20%;
  margin-left  : 20%;
}

/* mat-card (in social media) styles */
mat-card-socialmedia {
  color        : white;
  background   : rgba(0, 0, 0, 0.4);
  margin-right : 60%;
  margin-left  : 60%;
}

/* social media button styles */
button {
  background-color : rgb(0,0,0,0.4);
  margin-left      : 2%;
  margin-left      : 2%;
}

/**/
test {
  color : green;
}
