
html, body {
  height : 100%;
}

body {
  font-family : Roboto, "Helvetica Neue", sans-serif;
}

/* mat-toolbar styles */
mat-toolbar {
  color            : white;
  background-color : rgba(0, 0, 0, 0.4);
}

/* mat-card styles */
mat-card {
  color        : white;
  background   : blue;
  margin-right : 20%;
  margin-left  : 20%;
}
